.Hero{
   
    height: 90vh;
   
    video{
        
        object-fit: cover;
        width: 100vw;
        height: 90vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .content{
        position: relative;
        overflow: hidden;
        bottom: 0;
        background: rgba(0, 0, 0, 0.292);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        top: 0;
        height: 90vh;
      
        audio{
            position: fixed;
            display: flex;
            justify-content: center;
            margin-left: 40%;
            transform:rotate(270deg);
            margin-top: -33rem;
            top:20rem ;
            
        }
        .content_container{
            display: flex;
            justify-content: space-between;
            .main{
               
                .hi{
                    
                    font-size: 8rem;
                    margin-top: 8rem;
                    margin-left: 6rem;
                    font-family: 'Indie Flower';
                    color: rgb(202, 53, 53);
                    span{
                        &:hover{
                            animation: txtbounce 2s infinite;
                        }
                    }
                }
                .name_Container{
                    color: rgb(202, 53, 53);
                    display: flex;
                    justify-content: space-between;
                    margin-left: 12rem;
                    width: auto;
                    div{
                        margin-right: 1.5rem;
                    }
                    span{
                        
                        font-size: 8rem;
                        margin-top: 8rem;
                        &:hover{
                            animation: txtbounce 2s infinite;
                        }
                       
                    }
                }

                .about{
                    margin-left: 12rem;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-top: 2rem;
                    letter-spacing: 4px;
                }
            }

            .txt{
                margin-top:10rem ;
                margin-right: 14rem;
                font-size: 6rem;
                color: rgb(202, 53, 53);
                border: 4px solid rgba(251, 3, 7, 0.703);
                display: inline-block;
                padding: 10rem;
                

            }
        }
    }
}

@keyframes txtbounce{
    0%{
         bottom: 8px;
         color: white;
         text-shadow: 4px 4px #ff0000;
    }
    20%{
        bottom:0;
        color:rgb(202, 53, 53) ;
    }
    40%{
        bottom: 6px;
        color: white;
    }
    60%{
        bottom: 0;
        color: rgb(202, 53, 53);
    }



}